<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seunggabi.mju_success_network">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".model.DBProvider"
            android:authorities="com.seunggabi.mju_success_network"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.ChattingService">
            <intent-filter>
                <action android:name="com.seunggabi.mju_success_network.service.chatting" />
            </intent-filter>
        </service>
        <service
            android:name= "com.seunggabi.mju_success_network.bluetoothchat.service.BTCTemplateService"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </service>

        <receiver android:name=".service.ChattingBroadcastReceiver" />
        <receiver android:name=".service.ChattingServiceBroadcastReceiver" />

        <activity
            android:name=".view.menu.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.group.GroupInfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.group.GroupAddActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.group.GroupEditActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.menu.GroupActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.menu.JoinActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.menu.NoticeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.menu.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.chatting.ChattingActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.seunggabi.mju_success_network.chatting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.chatting.ChattingUserActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.schedule.ScheduleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.map.MapActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.schedule.ScheduleListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.schedule.ScheduleInfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.attend.AttendActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetoothchat.DeviceListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bluetoothchat.WhisperActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.video.VideoActivity"></activity>
    </application>

</manifest>